.error {
    padding: 10px;
    color: crimson;
    border: 1px dotted crimson;
}

.success {
    padding: 10px;
    color: greenyellow;
    border: 1px dotted greenyellow;
}

body {
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 10%;
    background-color: rgb(57, 57, 57) !important;
}

li {

    list-style-type: none;
    margin-left: 60%;
    border-radius: 7px;
    padding-bottom: 50px;
    padding: 8px;
    border-color: rgba(165, 165, 238, 0.041);
    background: rgba(51, 255, 65, 0.481);
    border-radius: 5px;
    width: fit-content;
}

p {
    list-style-type: none;
    margin-left: -40px;
    margin-bottom: 20px;
    border-radius: 7px;
    padding-bottom: 50px;
    padding: 8px;
    border-color: rgba(165, 165, 238, 0.041);
    background: rgba(51, 149, 255, 0.481);
    border-radius: 5px;
    width: fit-content;
    size: relative;
}

div {
    margin-left: -10px;
    border-radius: 7px;
    padding: 20px;
    border-radius: 5px;
    size: relative;
}

.col-sm {
    position: center;
}


.container {
    background-color: white;
    margin: 25px;
    outline: solid 1px black;
    size: relative;
    position: relative;
    min-height: 600px;
    min-width: 300px;

}

div.textbox {

    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 8px;

}



.popup-wrapper {
    background: (0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
}

.popup a {
    background: mediumseagreen;
    color: white;
    text-decoration: none;
    padding: 6px 10px;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}



ul {
    size: relative;
    position: center;
}